<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{subject}} </title>
</head>
<body>
    <div class="container.mt-2">
        <header>
            <h2>Welcome</h2>
            <p>Here Is The Home Page For {{name}}</p>
        </header>
        <section>
            <h2>This is Body Section.</h2>
            <p>{{subject}}</p>
        </section>
        <footer>
            <h2>This is Footer.</h2>
            <p><a href="{{link}}">Visit My Linkedin Profile.</a></p>
        </footer>
    </div>
</body>
</html>