head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    title= subject
body
    div.container.mt-2
        header
            h2 Welcome
            p Here Is Home Page For #{name}
        section
            h2 This is Another Heading
            p This is a Second Paragraph
        footer
            a(href=link) Visit My Linkedin Profile 
